.navbar_barContent {
  height: 54px;
  background-color: lightskyblue;
  border-bottom: 1px solid #dbdbdb;
}
.navbar_logo {
  margin-top: 10px;
}
.navbar_img {
  margin: 15px 10px;
}
.navbar_searchBar {
  height: 30px;
  width: 215px;
  margin-top: 10px;
  border: 1px solid #dbdbdb;
  text-align: left;
  background-color: #fafafa;
  border-radius: 5px;
}

span {
  margin-top: 15px;
  text-align: right;
}
